<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="<%= baseURL %>"><img src="/public/RecipeBook.png" width="50px" alt="Recipe Builder"></a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= baseURL %>">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= baseURL %>/the-algorithm">The Algorithm</a>
      </li>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= baseURL %>/all-recipes">All Recipes</a>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= baseURL %>/privacy-policy">Privacy Policy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= baseURL %>/about-us">About us</a>
      </li>
    </ul>
    <form action="#" method="get">
        <div>
            <label for="exampleInputEmail1">Newsletter signup:</label>
            <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        <button type="submit">Join</button>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </form>
  </nav>
<p class="text-center text-muted">&copy; Copyright 2021 - 2022 Recipe Builder</p>